PassengerEnabled On
PassengerAppRoot /home/i/innaefz5/innaefz5.beget.tech/public_html/recipebookproject
PassengerPython /home/i/innaefz5/innaefz5.beget.tech/public_html/venv/bin/python
DirectoryIndex passenger_wsgi.py